<img class="ml16 mb20" src="/assets/svg/logo-small.svg" alt="Logo" />

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <a class="menu-item" [routerLink]="[menuItem.link]">
        <svg class="svg-icon" [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<div class="subscribers">
  <div class="medium-text mb20">Subscribers</div>

  <!-- Show subscribers in json format -->
  <!-- <pre>{{ subscribers$ | async | json }}</pre> -->

  @for (profile of subscribers$ | async; track profile.id) {
  <app-subscriber-card [profile]="profile"></app-subscriber-card>
  }

  <div class="mt20 to-subscribers">
    <a [routerLink]="['/subscribers']" class="to-subscribers-link medium-text"
      >All subscribers</a
    >
    <svg class="svg-icon to-subscribers-icon" icon="arrow"></svg>
  </div>
</div>

<footer class="sidebar__footer">
  @if (me(); as me) { @if (me. avatarUrl) {
  <img class="img-me" [src]="me.avatarUrl | imgUrl" alt="" />
  } @else {
  <img class="img-me" src="/assets/images/placeholder.png" alt="" /> }
  <div class="medium-text username-text">
    {{ me.username }}
  </div>
  <a routerLink="settings" class="settings-btn">
    <svg class="svg-icon" icon="settings"></svg>
  </a>

  }
</footer>
