.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.to-setting-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 190px;
  text-decoration: none;
}

.to-setting-btn {
  .svg-icon {
    width: 16px;
    height: 16px;
    color: var(--dark-color);
  }
}

.profile-page__body {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 350px;
}

.subscribers-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.subscriber-avatar-btn {
  width: 36px;
  height: 36px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
